@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background: #0d1625;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.passenger-img {
  border: 2px solid #fff;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 130px;
  min-height: 130px;
  min-width: 130px;
  img {
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    max-height: 130px;
    max-width: 130px;
  }
}

.active {
  color: white;
  font-weight: 600;
}

.active-filter {
  background: #fff;
  color: #0d1625;
}
